@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
:root{
    --color-primario: #7d64a3;
    --color-secundario:#596e9e;
		--color-3: rgb(37, 150, 190);
		--color-4: rgba(67,118,171,255);
		--color-5: rgba(120,92,163,248);
		--color-6: rgb(92,189,193);
    --bs-accordion-active-color: white;
    --accordion-button-active-color: white;
}

* {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Estilos del header para mobile*/
.header-mobile {
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-evenly;
    align-items: center;
}
.header-mobile .btn-menu a .bi-list, .header-mobile .btn-menu a .bi-x-lg {
    font-size: 40px;
    color: black;
}
.header-mobile .info .bi-clipboard2-heart {
    font-size: 30px;
    color: black;
}
.header-mobile img {
    max-width: 100%;
    max-height: 100%;
}
.close {
  display: none;
}
.overlay-menu {
  position: fixed;
  background-color: rgba(120, 92, 163, 0.938);
  height: 100%;
  z-index: 1;
  overflow: hidden;
  top: 90px;
  left: 0;
  width: 0;
  transition: all 0.5s ease 0s;
}
.overlay-menu .overlay-items a {
  text-decoration: none;
}
.overlay-menu .overlay-items {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.overlay-menu .overlay-items a {
  padding: 15px;
  font-size: 20px;
  display: block;
  transition: all 0.5s ease 0s;
  font-weight: 600;
  color:#eceff1;
}
@keyframes collapseD {
  0%{
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes menuMobile {
  0%{
    transform: rotate(180deg);
  }
  100% {
    
  }
}
@keyframes menuDireccion {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
/*Estilos header computadora*/
.header-des {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}
.header-des img {
  max-width: 200px;
}
.header-des a {
  text-decoration: none;
  color: var(--color-secundario);
  font-size: 17px;
  cursor: pointer;
}
.header-des a:hover, .overlay-menu .overlay-items a:hover {
  color: var(--color-6);
}
/*Estilos section hero*/
.hero {
    background-image: url(../img/fotos/doc-carlos.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 520px;
		align-items: end;
		background-color: var(--color-5);
		background-position: center;
}
.hero-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: rgba(120, 92, 163, 0.822);
    padding: 10%;
    margin: 5px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    text-align: center;
}
.btn-ser{
    margin-top: 10px;
}
.hero-txt h2:nth-child(1), .hero-txt p {
  font-size: 15px;
}
.hero-txt h2:nth-child(1), .hero-txt p, .btn-ser button, .servicios .card-holder .card-servicio button, .header-des button {
	color: white;
}
.hero-txt h2:nth-child(2) {
	color: rgb(0 245 255);
	font-size: 19px;
  font-weight: bold;
}
.btn-ser button, .servicios .card-holder .card-servicio button {
    margin-bottom: 5px;
    padding: 15px;
    text-align: center;
    font-size: 10px;
    background-color: var(--color-secundario);
    border-radius: 5px;
    border-color: #596e9e;
    border-style: none;
    cursor: pointer;
}
.header-des button {
  margin-bottom: 5px;
  padding: 5px 20px 5px 20px;
  text-align: center;
  font-size: 10px;
  background-color: var(--color-secundario);
  border-radius: 5px;
  border-color: #596e9e;
  border-style: none;
  cursor: pointer;
}
.btn-ser button:hover, .servicios .card-holder .card-servicio button:hover, .header-des button:hover, 
.tell-me button:hover, .contacto button:hover, .header-mobile .info:hover, .acordeon .acordeon-item button:hover {
    transition: 0.5s;
    background-color: var(--color-6);
}
.btn-cv button{
  background-color: blueviolet;
}
.bi-chevron-up {
  transform: rotate(180deg);
}
.tell-me {
	padding: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 30px;
}
.tell-me h2, .tell-me p {
	margin-bottom: 10px;
}
.tell-me h2 {
	font-size: 20px;
	color: var(--color-secundario);
  text-align: center;
}
.item-tell .servicio {
	display: flex;
	justify-content: start;
  align-items: center;
}
.item-tell .servicio i {
	font-size: 30px;
	margin-right: 5px;
	color: var(--color-secundario);
}
.tell-me button, .contacto button {
    margin-bottom: 5px;
		margin-top: 5px;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    background-color: var(--color-secundario);
    border-radius: 5px;
    border-color: #596e9e;
    border-style: none;
    cursor: pointer;
		color: white;
    font-weight: 600;
}
.acordeon .acordeon-item button {
  padding: 15px;
  text-align: center;
  font-size: 15px;
  background-color: var(--color-secundario);
  border-radius: 5px;
  border-color: #596e9e;
  border-style: none;
  cursor: pointer;
  color: white;
  width: 100%;
  font-weight: 600;
}
.ubicaciones button {
  color: black;
  font-weight: bold;
  background-color: #596e9ea9;
}
.dir {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;  
}
.acordeon-body {
  max-width: 100%;
}
.acordeon {
  border-radius: 5px;
  border: 1px solid gray;
}
.acordeon-collapse, .acordeon-collapse-2, .acordeon-collapse-3, .acordeon-collapse-4 {
  display: none;
}
/*Estilos why*/
.why {
	background-image: url(../img/fotos/bgn-grad.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--color-primario);
	height: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  color: white;
}
.why-container {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  color: white;
}
.why h2 {
	text-align: center;
	font-size: 20px;
}
.item-why {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
  padding: 0 15px 0 15px;
}
.item-why p {
	text-align: center;
}
.item-why i {
	font-size: 45px;
	color: rgb(0 245 255);
}
.item-why span {
	font-size: 50px;
	color: rgb(0 245 255);
}
.item-why h1 {
	font-size: 30px;
}
.item-why h3 {
	margin-bottom: 5px;
  font-weight: 600;
}
/*Estilos servicios*/
.servicios {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.servicios h1 {
	font-size: 30px;
	color: var(--color-secundario);
	margin-bottom: 5px;
}
.servicios p {
	text-align: center;
}
.card-holder {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	max-width: 350px;
}
.card-servicio {
  color: white;
}
.card-servicio, .card-servicio .card-texto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card-servicio img {
	max-width: 50%;
	max-height: 50%;
	border-radius: 50%;
	transform: translateY(70px);
	border-style: groove;
	border-color: blueviolet;
}
.card-servicio .card-texto h3, .card-servicio .card-texto p, .card-servicio .card-texto a {
	margin-top: 10px;
}
.card-servicio .card-texto h3 {
	font-size: 20px;
  font-weight: 600;
}
.servicios .card-holder .card-servicio .card-texto button {
	font-size: 15px;
  font-weight: bold;
}
.card-texto {
	border-style: groove;
	border-color:blueviolet;
	border-radius: 10px;
	background-image: url(../img/fotos/bgn-grad.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--color-primario);
	padding: 70px 10px 5px 10px;
}
/*Estilos Opiniones*/
.item-opinion-des img {
  width: 50px;
  margin-bottom: 30px;
}
.item-opinion-des {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(67, 65, 192, 0.822);
  border-radius: 5px;
  color: white;
}
.opinion h1{
	font-size: 22px;
	color: black;
	padding: 5%;
}
.opinion {
	background-image: url(../img/recursos/bg-opinion.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--color-6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 15px;
  margin-bottom: 40px;
}
.carousel {
  max-width: 400px;
  padding: 10px;
}
.d-block {
  text-align: center;
  padding: 10px;
}
.d-block p {
  font-size: 13px;
  text-align: center;
}
.bi-chevron-compact-left, .bi-chevron-compact-right {
  font-size: 50px;
  color: black;
}
.bi-chevron-compact-left {
  padding-right: 25px;
}
.bi-chevron-compact-right {
  padding-left: 25px;
}
.carousel-inner {
  height: 360px;
}
.carousel-des {
  display: none;
}
.bi-star-fill {
  color: gold;
}
.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/fotos/bg-contacto.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 35px;
  margin-bottom: 15px;
}
.contacto h2 {
  color: var(--color-secundario);
  padding: 5%;
}
.btn-contacto {
  display: contents;
}
.btn-contacto a {
  text-decoration: none;
}
.btn-contacto button {
  width: 150px;
}
.ubi-title {
  color: var(--color-secundario);
  padding-top: 5%;
  text-align: center;
}
.contacto p {
  text-align: center;
}
.ubicaciones {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.ubicacion-txt {
  margin-top: 10px;
}
.ubicaciones .ubicacion-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ubicaciones .ubicacion-item a{
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.ubicaciones .ubicacion-item:nth-child(1), .ubicaciones .ubicacion-item:nth-child(3) {
  color: white;
}
.ubicacion-item:nth-child(1), .ubicacion-item:nth-child(3) {
  background-color: var(--color-primario);
}
.ubicacion-item h3, .ubicacion-item p {
  text-align: center;
}
.ubicacion-item .cita {
  font-weight: bold;
}
.ubicaciones-des {
  display: none;
}
.ubicaciones .ubicacion-item iframe {
  margin-bottom: 10px;
  height: 200px;
}
.ubicacion-item h3 {
  font-size: 19px;
}
.ubicaciones .ubicacion-item .container-mapa {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.accordion {
  --bs-accordion-active-color: white;
}
.ubicaciones .ubicacion-item .container-mapa iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*Estilos footer*/
.footer {
  background-color: var(--color-primario);
  padding: 10px;
}
.footer h4, .footer p {
  text-align: center;
  color: white;
}
.icons-rs {
  display: flex;
  justify-content: space-evenly;
}
.icons-rs i {
  font-size: 20px;
}
.icons-rs a img {
  width: 27px;
}
.bi-facebook, .bi-instagram, .footer .bi-whatsapp, .bi-telephone {
  color: white;
}
.footer p a {
  color: white;
  text-decoration: none;
}
.WA-flotante {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #10b418;
  display: flex;
  justify-content: center;
  align-items: center;
}
.WA-flotante::before {
  position: absolute;
  content: " ";
  z-index: -1;
  top: -15px;
  left: -15px;
  background-color: #10b418;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  opacity: 0.6;
  animation: pulse 1.8s ease-out;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0
  }
  25% {
    transform: scale(0.3);
    opacity: 1
  }
  50% {
    transform: scale(0.6);
    opacity: 0.6
  }
  75% {
    transform: scale(0.9);
    opacity: 0.3
  }
  100% {
    transform: scale(1);
    opacity: 0
  }
}
.WA-flotante i {
  color: white;
  font-size: 25px;
}
/*Estilos mi trayectoria*/
.hero-cv {

}
.bg-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/logos/favicon.png);
  background-color: #1a73e8b5;
  background-position: center;
  flex-direction: column;
  background-blend-mode: color;
  height: 450px;
  background-repeat: no-repeat;
}
.bg-cv .bd {
  height: 200px;
  width: -webkit-fill-available;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 20px 0 20px;
}
.bg-cv .bd h1 {
  font-weight: bold;
}
.cv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 20px 30px 20px;
  background-color: rgba(92,189,193,0.7);
}
.cv h4 {
  text-align: justify;
  margin-bottom: 20px;
}
.cv h2 {
  text-align: center;
  color: var(--color-secundario);
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
} 
.cv .sombra img {
  border-radius: 5px;
  background-color:#fff;
  margin:-10px 10px 10px -10px;
  width: -webkit-fill-available;
}
.sombra {
  float:left;
  background-color: var(--color-primario);
  margin: 10px 0 0 10px;
  border-radius: 5px;
  width: 240px;
}
.texto-cv {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0;
}
.texto-cv p {
  margin: 0 0 0 5px;
}
.cv-des {
  display: none;
}
.cv-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
}
.container-cv-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.title-cv {
  width: 780px;
}
.img-container {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.img-container img {
  width: -webkit-fill-available;
}
.fotos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fotos .carousel .carousel-inner {
  height: -webkit-fill-available;
}
.fotos .carousel-indicators [data-bs-target] {
  background-color: black;
}





@media (min-width: 530px) {
  .hero {
    background-image: url(../img/fotos/background-des.jpg);
  }
  .tell-me p {
    text-align: center;
  }
  .hero-txt {
    position: absolute;
    right: 0;
    top: 200px;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .header-des {
    display: flex;
  }
  .header-mobile {
    display: none;
  }
  .ubicaciones .ubicacion-item iframe {
    height: 300px;
    margin: 20px;
  }
  .bi-chevron-compact-right {
    padding-left: 90px;
  }
  .bi-chevron-compact-left {
    padding-right: 90px;
  }
  .fotos .carousel .carousel-inner {
    width: 350px;
  }
  .btn-contacto {
    display: flow-root;
  }
}
@media (min-width: 1024px) {
  .WA-flotante {
    width: 70px;
    height: 70px;
  }
  .WA-flotante::before {
    width: 100px;
    height: 100px;
  }
  .WA-flotante i {
    font-size: 35px;
  }
  .hero-txt {
    right: 70px;
    width: 400px;
    top: 300px;
  }
  .btn-ser button, .servicios .card-holder .card-servicio button, .header-des button {
    font-size: 15px;
  }
  .card-holder {
    grid-template-columns: repeat(3, 1fr);
    max-width: 980px;
    grid-column-gap: 40px;
  }
  .contacto h2 {
    padding: 30px 0 0 0;
  }
  .ubi-title {
    padding-top: 30px;
  }
  .ubicaciones .ubicacion-item:nth-child(1), .ubicaciones .ubicacion-item:nth-child(3) {
    flex-direction: row;
    color: white;
  }
  .ubicaciones .ubicacion-item:nth-child(2), .ubicaciones .ubicacion-item:nth-child(4) {
    flex-direction: row-reverse;
  }
  .ubicaciones .ubicacion-item iframe {
    width: 500px;
  }
  .ubicacion-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero {
    background-position: top;
    height: 650px;
  }
  .hero-txt h2:nth-child(2) {
    font-size: 20px;
  }
  .hero-txt h2:nth-child(1), .hero-txt p {
    font-size: 16px;
  }
  .tell-me h2 {
    font-size: 25px;
  }
  .tell-me p {
    font-size: 18px;
  }
  .item-tell .servicio i {
    font-size: 40px;
  }
  .why .item-why p {
    font-size: 16px;
  }
  .why-container {
    flex-direction: row;
  }
  .item-why span {
    font-size: 65px;
  }
  .servicios p {
    font-size: 18px;
  }
  .opinion h1 {
    font-size: 30px;
    padding: 25px 0 1px 0;
  }
  .contacto p {
    font-size: 18px;
  }
  .icons-rs {
    justify-content: center;
  }
  .icons-rs a {
    padding-right: 30px;
  }
  .carousel-m {
    display: none;
  }
  .carousel {
    max-width: 980px;
    padding: 10px;
  }
  .carousel-des {
    display: flex;
  }
  .opinion-des {
    display: flex;
  }
  .item-opinion-des:hover {
    transform: scale(110%)
  }
  .item-opinion-des {
    margin: 0 5px 0 5px;
  }
  .opinion {
    height: 500px;
  }
  .d-block {
    padding: 20px;
  }
  .d-block p {
    font-size: 15px;
  }
  .bi-chevron-compact-left {
    padding-right: 130px;
  }
  .bi-chevron-compact-right {
    padding-left: 130px;
  }
  .ubicaciones-des {
    display: grid;
  }
  .ubicaciones-mov {
    display: none;
  }
  .btn-contacto {
    display: flow-root;
  }
  .bg-cv {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .cv-mov {
    display: none;
  }
  .cv-des {
    display: flex;
  }
  .cv-des .container-cv-items {
    flex-direction: unset;
  }
  .cv-des .cv-item {
    justify-content: flex-start;
    margin: 30px 0 0 40px;
  }
  .sombra {
    width: 340px;
    margin: 10px 70px 0 10px;
  }
  .cv-des .container-cv-items {
    margin-top: 40px;
  }
}

@media (min-width: 1580px) {
  .hero {
    height: 850px;
  }
  .hero-txt {
    right: 200px;
  }
  .ubicaciones .ubicacion-item iframe {
    width: 700px;
    height: 400px;
  }
}

/*Forzar las animaciones*/
.fade {
	transition:opacity 0.15s linear !important;
}
.collapsing {
	transition:height 0.35s ease !important;
}
.custom-switch .custom-control-label::after {
	transition:background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-transform 0.15s ease-in-out !important;
	transition:transform 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
	transition:transform 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-transform 0.15s ease-in-out !important;
}
.custom-range::-webkit-slider-thumb {
	transition:background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.custom-range::-moz-range-thumb {
	transition:background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.custom-range::-ms-thumb {
	transition:background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.custom-control-label::before,.custom-file-label,.custom-select {
	transition:background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.badge {
	transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.progress-bar {
	transition:width 0.6s ease !important;
}
.progress-bar-animated {
	-webkit-animation:progress-bar-stripes 1s linear infinite !important;
	animation:progress-bar-stripes 1s linear infinite !important;
}
.modal.fade .modal-dialog {
	transition:-webkit-transform 0.3s ease-out !important;
	transition:transform 0.3s ease-out !important;
	transition:transform 0.3s ease-out,-webkit-transform 0.3s ease-out !important;
}
.carousel-item {
	transition:-webkit-transform 0.6s ease-in-out !important;
	transition:transform 0.6s ease-in-out !important;
	transition:transform 0.6s ease-in-out,-webkit-transform 0.6s ease-in-out !important;
}
.carousel-fade .carousel-item {
    transition-property: opacity !important;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    transition: 0s 0.6s opacity !important;
}

.carousel-control-prev,.carousel-control-next {
	transition:opacity 0.15s ease !important;
}
.carousel-indicators li {
	transition:opacity 0.6s ease !important;
}
.form-control {
	transition:border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.btn {
	transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}