@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --color-primario: #7d64a3;
    --color-secundario:#596e9e;
		--color-3: rgb(37, 150, 190);
		--color-4: rgba(67,118,171,255);
		--color-5: rgba(120,92,163,248);
		--color-6: rgb(92,189,193);
}

* {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Estilos del header para mobile*/
.header-mobile {
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-evenly;
    align-items: center;
}
.header-mobile .btn-menu a .bi-list {
    font-size: 40px;
    color: black;
}
.header-mobile .info .bi-clipboard2-heart {
    font-size: 30px;
    color: black;
}
.header-mobile .info:hover {
    color: var(--color-primario);
}
.header-mobile img {
    max-width: 100%;
    max-height: 100%;
}
/*Estilos header computadora*/

/*Estilos section hero*/
.hero {
    background-image: url(../img/fotos/doc-carlos.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 480px;
		align-items: end;
		background-color: var(--color-5);
		background-position: center;
}
.hero-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 220px;
    background-color: rgba(120, 92, 163, 0.822);
    padding: 10%;
    margin: 5px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    text-align: center;
}
.hero-txt h2, .hero-txt p, .btn-ser{
    margin-top: 10px;
}
.hero-txt h2:nth-child(1), .hero-txt p, .btn-ser button, .servicios .card-holder .card-servicio button {
	color: white;
}
.hero-txt h2:nth-child(2) {
	color: var(--color-6);
	font-size: 18px;
}
.btn-ser button, .servicios .card-holder .card-servicio button{
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    background-color: var(--color-secundario);
    border-radius: 5px;
    border-color: #596e9e;
    border-style: none;
    cursor: pointer;
}
.btn-ser button:hover, .servicios .card-holder .card-servicio button:hover {
    transition: 0.5s;
    background-color: var(--color-primario);
}
.tell-me {
	padding: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 30px;
}
.tell-me h2, .tell-me p {
	margin-bottom: 10px;
}
.tell-me h2 {
	font-size: 20px;
	color: var(--color-secundario);
}
.item-tell .servicio {
	display: flex;
	justify-content: start;
}
.item-tell .servicio i {
	font-size: 25px;
	margin-right: 5px;
	color: var(--color-secundario);
}
.tell-me button{
    margin-bottom: 5px;
		margin-top: 5px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    background-color: var(--color-secundario);
    border-radius: 5px;
    border-color: #596e9e;
    border-style: none;
    cursor: pointer;
		color: white;
}
/*Estilos why*/
.why {
	background-image: url(../img/fotos/bgn-grad.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--color-primario);
	height: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.why h2 {
	text-align: center;
	font-size: 20px;
}
.item-why {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.item-why p {
	text-align: center;
}
.item-why i {
	font-size: 30px;
	color: var(--color-6);
}
.item-why span {
	font-size: 35px;
	color: var(--color-6);
}
.item-why h1 {
	font-size: 30px;
}
.item-why h3 {
	margin-bottom: 5px;
}
/*Estilos servicios*/
.servicios {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.servicios h1 {
	font-size: 30px;
	color: var(--color-secundario);
	margin-bottom: 5px;
}
.servicios p {
	text-align: center;
}
.card-holder {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	max-width: 350px;
}
.card-servicio, .card-servicio .card-texto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card-servicio img {
	max-width: 50%;
	max-height: 50%;
	border-radius: 50%;
	transform: translateY(70px);
	border-style: groove;
	border-color: blueviolet;
}
.card-servicio .card-texto h3, .card-servicio .card-texto p, .card-servicio .card-texto a {
	margin-top: 10px;
}
.card-servicio .card-texto h3 {
	font-size: 20px;
}
.servicios .card-holder .card-servicio .card-texto button {
	font-size: 15px;
}
.card-texto {
	border-style: groove;
	border-color:blueviolet;
	border-radius: 10px;
	background-image: url(../img/fotos/bgn-grad.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--color-primario);
	padding-top: 70px;
}
/*Estilos Opiniones*/
.opiniones-container h1{
	font-size: 22px;
	color: var(--color-secundario);
	padding: 5%;
}
.opiniones-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url(../img/fotos/bgn-grad.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--color-6);
	overflow: hidden;
}
.opiniones {
	display: flex;
	width: 400%;
	height: 250px;
	margin-left: -100%;
	justify-content: center;
	align-items: center;
	padding: 5%;
}
.slider-item {
	width: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.slider-btn-p {
	position: absolute;
	width: 30px;
	height: 30px;
	transform: translateY(-50%);
	font-size: 30px;
	color: black;
}
.bLeft {
	left: 0;
}
.bRight {
	right: -15px;
}